#title{
    background-color: #ff4c68;
    color:#fff;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight:900;
    font-size:3rem;
    line-height:1.5;
    
}
.container-fluid{
    padding:2% 15% !important;
}
body{
    font-family: "Montserrat" !important;
    font-weight:500;
}
.navbar{
    padding-bottom:3.5rem !important;
}
.nav-item{
    padding:0 18px !important;
}
.navbar-brand{
font-size:2.0rem !important;
}
.download-buttons{
    margin:5% 3% 0% 0%;
}
/* .title-image{ */
   
   
/* } */
.title-image{
                
    position: relative;
    width:60% ;
    transform: rotate(25deg);
    right:-15%;
}
#features{
    margin:5% 10%;
    position:relative;
    background-color: #fff;
  
}
.feature-box{
    text-align:center;
    padding:5%;
}
p{
    color:grey;
}
.icon{
    color:#ef8172 ;
    margin: 5px;
}
.icon:hover{
    color:#ff4c68 !important;
}
#testimonials{
    
    text-align:center;
    background-color: #ef8172;
    color:#fff;
}
.testimonial-image{
    width:10% !important;
    border-radius: 100%;
    margin:20px;
    
}
#press{
    background-color: #ef8172;
    text-align:center;
    padding-bottom: 5%;
}
.press-logo{
    width:15% !important;
    margin:20px 20px;
}
.carousel-item{
               padding:5% 15%
}
#pricing{
    padding:100px;
    text-align: center;
}
.pricing-column{
    padding:100px;
    text-align: center;
}
@media(max-width:1100px ) {
    #title{
        text-align:center;
    }
   
    
}
@media(max-width:1100px){
    .title-image{
        position: static;
        transform: rotate(0);
}
}
#cta{
    background-color: #ff4c68;
    padding:7% 15%;
    text-align:center;
    font-family: "Montserrat";
    
    
}
.end-head{
  
   font-size: 3.5rem !important;
   color: #fff !important;
  
   line-height: 1.5 !important;
   font-family: "Montserrat";
  
}
.last-button{
             margin:50px 10px 0px 10px;
}
#footer{
    text-align:center;
    background-color: #fff;
    margin:50px;
}
.last-logo{
          margin-left: 15px;
          margin-right: 9px;
}